.container {
    position: relative;
    width: 97%;
    max-width: 1920px;
    height: auto;
    margin: 20px auto;
    background-color: rgb(231, 236, 243);;
    margin-left: 2%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.05);
    padding-top: 20px;
    padding-bottom: 20px;

}

.container-title {
    width: 95%;
    height: auto;
    margin: 5px 1.5%;
    padding-left: 1.5%;
}


.container-description {
    width: 88%;
    height: auto;
    margin: 5px 1.5%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.container-content {
    width: 97%;
    height: auto;
    margin: 5px 1.5%;
}

.project-box {
    width: 88%;
    height: auto;
    margin: 15px 1.5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.05);
    padding: 15px;
    overflow: hidden;

}

.work-description {
    font-size: 22px;
    text-align: justify;
    padding: 0px 10px;
    background-color: white;
}

.work-description-list {
    font-size: 22px;
}


/* Event Brochures Container */

#box1 {
    width: 99%;
    height: auto;
    min-height: 400px;
    display: inline-block;
    margin-bottom: 20px;

}

#box2 {
    width: 99%;
    height: auto;
    min-height: 400px;

}

.project1 {
    height: 275px;
    width: 380px;
    background-color: antiquewhite;
    margin: 5px;
    display: inline-block;
    box-shadow: 2px 2px grey;
    border: 1px solid red;    
}

.project1:hover {
    height: 275px;
    width: 380px;
    background-color: antiquewhite;
    margin: 5px;
    display: inline-block;
    position: relative;
    bottom: 2px;
    right: 2px;
    box-shadow: 5px 5px grey; 
}

.project2 {
    height: 445px;
    width: 280px;
    background-color: antiquewhite;
    margin: 5px;
    display: inline-block;
    box-shadow: 2px 2px grey;

}

.project2:hover {
    height: 445px;
    width: 280px;
    background-color: antiquewhite;
    margin: 5px;
    display: inline-block;
    position: relative;
    bottom: 2px;
    right: 2px;
    box-shadow: 5px 5px grey;
} 

.brochure1 {
    max-height: auto;
    max-width: 99.8%;
    overflow: hidden;
    margin: 8px 0px;

}



.brochure2 {
    max-height: auto;
    max-width: 99.8%;
    margin: 5px 0px;
    overflow: hidden;
}


.event-link {
    display: block;
    margin: 3px auto;
    text-align: center;
}

.event-link1 {
    display: block;
    margin: 0px auto;
    text-align: center;
}
/* Book Designs Container */

#box3   {
    width: 99%;
    height: auto;
    min-height: 420px;
    margin: 5px;
}

.book1 {
    height: 390px;
    max-width: auto;
    overflow: hidden;
    box-shadow: 2px 2px grey;
    margin: 5px 5px;
}

.book1:hover {
    height: 390px;
    width: auto;
    background-color: antiquewhite;
    margin: 5px;
    display: inline-block;
    position: relative;
    bottom: 2px;
    right: 2px;
    box-shadow: 5px 5px grey;
} 
/* Logos Container */


/* Roll-Up Container */

.project-roll {
    display: inline-block;
    margin: 10px 15px 10px 0px;
    border: 1px solid red;
    max-height: 681.4px;
    overflow: hidden;
    box-shadow: 1px 1px grey;
    margin: 8px;
}

.project-roll:hover {
    display: inline-block;
    margin: 10px 15px 10px 0px;
    border: 1px solid red;
    max-height: 681.4px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px grey;
    margin: 8px;
    bottom: 2px;
    right: 2px;
}

.rollup {
    max-width: 270px;
}


#rollupbox {
    grid-template-columns: 4;
    grid-template-rows: 1;
    grid-gap: 5px;
    border: 1px red solid;
}


#project-roll-large {
    max-height: 681px;
    min-width: auto !important;
    max-width: auto !important;
    display: inline-block;
    margin: 10px 15px 10px 0px;
    border: 1px solid red;
    overflow: hidden;
    box-shadow: 1px 1px grey;
    margin: 8px;
}

#project-roll-large:hover {
    max-height: 681px;
    min-width: auto !important;
    max-width: auto !important;
    display: inline-block;
    margin: 10px 15px 10px 0px;
    border: 1px solid red;
    overflow: hidden;
    box-shadow: 1px 1px grey;
    margin: 8px;
    position: relative;
    box-shadow: 5px 5px grey;
    margin: 8px;
    bottom: 2px;
    right: 2px;
}

#rollup-large {
    max-height: 681px;
    min-width: auto !important;
    max-width: auto !important;
    display: inline-block;
}

@media all and (max-width: 500px) {
    .project1 {
        height: auto;
        min-height: 200px;
        width: 277px;
        background-color: antiquewhite;
        margin: 5px;
        display: inline-block;
        box-shadow: 2px 2px grey;
        position: relative;
        bottom: 2px;
        right: 2px;    
    }

    .project1:hover {
        height: auto;
        min-height: 200px;
        width: 277px;
        background-color: antiquewhite;
        margin: 5px;
        display: inline-block;
        box-shadow: 2px 2px grey;
        position: relative;
        bottom: 2px;
        right: 2px;    
    }
}